body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
 

}

a {
color:#1f4f61;;
text-decoration:none;
font-family:arial;
line-height:1;

}
h3{
color:#1f4f61;;
}

h2{
color:#1f4f61;
}


.score{
 color:white;
font-size:3rem;
}

.sett{
width:3rem;
text-align:right;
position:relative;
right:33rem;
top: 1rem;



}


.container {
  display: block;
  width: 50%;
  margin: auto;


}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}


.mybtn {
	box-shadow: 0px 8px 14px -7px #276873;
	background:linear-gradient(to bottom, #1f4f61 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:7px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
        margin-top:0px;
       
}
.mybtn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.mybtn:active {
	position:relative;
	top:1px;
}

.box{
 background-color:white;
width:10%;
position:relative;
bottom:7rem;
padding-left:0px;
text-align:left;
}

.threebtn{
   width:5rem;
position:relative;
left: 35rem;
top:1.6rem;
}

.box2{
background-color:white;
width:10%;
position:relative;
left:75rem;
}

.playgame{
color:#1f4f61;
}


.b {
	box-shadow: 0px 8px 14px -7px #276873;
	background:linear-gradient(to bottom, #1f4f61 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:7px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
        margin-top:0px;
       
}
.b:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.b:active {
	position:relative;
	top:1px;
}

.stop {
	box-shadow: 0px 8px 14px -7px #276873;
	background:linear-gradient(to bottom, #1f4f61 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:7px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
        margin-top:0px;
       
}
.stop:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.stop:active {
	position:relative;
	top:1px;
}
